{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@components": "./source/components",
        "@controllers": "./controllers",
        "@models": "./models",
        "@routes": "./routes",
      }
    }]
  ]
}
