{% extends  layout %}
{% block  content %}
  <h1>{{ title }}</h1>
  <form class="c-form" action="/register" method="POST">
    {% if errors.default %}
      <span class="form__error">
        {{ errors.default }}
      </span>
    {% endif %}
    <fieldset class="form__fieldset">
      <label class="form__label">
        Email

        {% if errors.email %}
          <span class="form__error">
            {{ errors.email }}
          </span>
        {% endif %}
        <input name="email" type="text" required>
      </label>
      <label>
        Password (8 characters minimum)
        <input name="password" type="password" required>
      </label>
      <label>
        Repeat password
        {% if errors.repeatPassword %}
          <span class="form__error">
            {{ errors.repeatPassword }}
          </span>
        {% endif %}
        <input name="repeatPassword" type="password" required>
      </label>
    </fieldset>
    <fieldset>
      {% if errors.captcha %}
        <span class="form__error">
          {{ errors.captcha }}
        </span>
      {% endif %}
      <div class="g-recaptcha" data-sitekey="{{ captchaSiteKey }}"></div>
    </fieldset>
    <fieldset>
      <input type="submit">
    </fieldset>
  </form>
{% endblock %}
