* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
  margin: 0;
  background: $color-primary;
}

.o-container {
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
